[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = false
name = "pypi"

[packages]
flask = "*"
cloudant = "*"
flask-restx = "*"

[dev-packages]

[requires]
python_version = "3.6"
